body{
    background-color: #b6ffb2;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.card-content{
    background-color: transparent;
}

.card-banner{
    background-color: transparent;
    height:200px;
    width:200px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-product-item{
    background-color: transparent;
    border-radius: 20px;
}

.top-product-card{
    background-color: white;
    background: rgba(248, 248, 248, 0.6);
}

.grid-list{
    background-color: transparent;
}

.product-card{
    border-radius: 20px;
    height: auto;
}

.card-banner img{
    height: 200px;
    width: 200px;
}

.banner{
    background-color: #1EA786;
    display:flex;
    height: 300px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 50px;
}

.banner-left{
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.banner-right{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.banner-center{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.banner-center p {
    color: white;
    font-size: 18px;
    font-style: italic;
    font-family: FontAwesome;
}

.banner-left img{
    overflow: hidden;
    border-radius: 20px;
}
.banner-right img{
    overflow: hidden;
    border-radius: 20px;
}
.banner-center img{
    overflow: hidden;
    height: 180px;
    width: 360px;
    margin-bottom: 10px;
    filter: brightness(120%);
}