.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #03fd03e7;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: url("../images/2f06b5ee85794f1a946d.jpg") center center/cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: var(black);
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.login-form label{
  font-weight: bold;
}

.login-form button {
    padding: 10px 30px;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: rgb(255, 252, 252);
    cursor: pointer;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}
.login-form button:hover {
    background-color: #15856e;
}
  body {
    /* Set background image properties */
    background-image: url("../images/cta-bg.png"); /* Adjust the path to your image */
    background-size: cover;      /* Cover the entire viewport */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Fixed background */
  }
  /* Additional CSS for the login form image */
.login-container {
  position: relative;
}

.login-image {
  width: 100%; /* Adjust the width as needed */
  max-height: 150px; /* Adjust the max height as needed */
  object-fit: cover; /* Ensure the image covers the entire container */
  border-top-left-radius: 8px; /* Adjust border radius to match the container */
  border-top-right-radius: 8px;
  margin-bottom: 20px; /* Add spacing between the image and the form */
}


  
  
  