/* Custom CSS for the registration form */
.Register-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #48ff00;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: var(--charleston-green);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    color: var(black);
    background: transparent;
    transition: opacity 0.5s ease-in-out;
  }
  
  .Register-container h2 {
    margin-bottom: 20px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .register-form button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1EA786;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 10px;
  }
  
  .register-form button:hover {
    background-color: #15856e;
  }

body {
  /* Set background image properties */
  background-image: url("../images/cta-bg.png"); /* Adjust the path to your image */
  background-size: cover;      /* Cover the entire viewport */
  background-position: center;  /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Fixed background */
}
.user-type-selection {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
  font-size: 18px;
}
.user-type-selection label {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
  color: #fff; /* text color */
}

select {
  padding: 10px;
  border-radius: 30px;
  box-shadow: transparent;
}