/* Sale Booster Styles */

/* Body Styles */
body {
    font-family: 'Roboto', sans-serif; /* Setting the font family */
    margin: 0;
    padding: 0;
}

/* Header Styles */
.header {
    background-color: #f8f9fa; /* Setting background color */
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a shadow */
}

.top-bar p {
    margin: 0; /* Removing margin */
}

.navbar {
    display: none; /* Hiding the navbar initially */
}

.navbar-list {
    list-style: none; /* Removing bullet points from the list */
}

.navbar-link {
    text-decoration: none; /* Removing underline from links */
    color: #333; /* Setting link color */
}

.navbar-link:hover {
    color: #007bff; /* Changing link color on hover */
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse; /* Collapsing table borders */
    margin-top: 20px; /* Adding some space */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Adding bottom border to cells */
}

th {
    background-color: #f2f2f2; /* Setting background color for table header */
}

/* Action Link Styles */
.navbar-link.boost {
    background-color: #007bff; /* Setting background color */
    color: #fff; /* Setting text color */
    padding: 5px 10px; /* Adding padding */
    border-radius: 5px; /* Adding border radius */
    text-decoration: none; /* Removing underline */
}

.navbar-link.boost:hover {
    background-color: #0056b3; /* Changing background color on hover */
}
 /* CSS for styling the search bar */
#searchInput {
    padding: 10px;
    width: 100%; /* Set the width of the search input to match the website width */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}


#searchInput:focus {
    outline: none; /* Remove outline when focused */
    border-color: #007bff; /* Change border color when focused */
}

#searchInput::placeholder {
    color: #999; /* Set placeholder color */
}