

h1 {
    text-align: center;
    color: #fff;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgba(255, 255, 255, 0.8);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

thead {
    background-color: #f2f2f2;
}

button {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

input[type="date"] {
    width: 100%;
}



.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-list {
  display: flex;
  justify-content: right;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.navbar-list li {
  margin: 0 10px; /* Adjust spacing between list items as needed */
}

.navbar-link {
  text-decoration: none;
  color: #000000; /* Adjust link color as needed */
  font-size: 16px; /* Adjust font size as needed */
  /* Add any other styling you want */
}
