<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discount assigner with sales prediction">
    <meta name="keywords" content="discount, sales, prediction, assigner, sale booster, connexa, CONNEXA, Connexa">
    <meta name="author" content="Rumeth Sandinu">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CONNEXA</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="../static/assets/images/favicon.svg" type="image/svg+xml">
    <title>Sale booster</title>
</head>
<body>
    <h1>Sale Booster Console</h1>
    <br/>
    <h2>
        Items
    </h2>
    <br/>
    <p>
        sale booster mode
    </p>
    <br/>
    <table>

    </table>
</body>
</html>