<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CONNEXA</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="../static/assets/images/favicon.svg" type="image/svg+xml">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="../static/assets/css/main.css">
  <link rel="stylesheet" href="../static/assets/css/home.css">
  <link rel="stylesheet" href="../static/assets/css/staff.css">


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap"
    rel="stylesheet">

</head>

<body id="top">
<!-- - #HEADER-->
  <header class="header" data-header>

    <div class="top-bar">
      <div class="container">
        <p>Get membership and enjoy unlimited personalized discounts</p>
      </div>
    </div>

    <div class="nav-wrapper">
      <div class="container">

        <h1 class="h1">
          <a href="./index.html" class="logo">CONN<span class="span">EXA</span></a>
        </h1>

        <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
          <ion-icon name="menu-outline"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

          <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <ul class="navbar-list">

            <li>
                <a href="{{ url_for('staff_ui') }}" class="navbar-link">Home</a>
            </li>

            <li>
                <a href="{{ url_for('shop') }}" class="navbar-link">Shop</a>
            </li>

            <li>
                <a href="{{ url_for('about') }}" class="navbar-link">About</a>
            </li>

            <li>
                <a href="{{ url_for('staff') }}" class="navbar-link">Staff</a>
            </li>

            <li>
                <a href="{{ url_for('loss_rate_model') }}" class="navbar-link">Loss Rate Predictor</a>
            </li>

            <li>
              <a href="{{ url_for('time_sales') }}" class="navbar-link">Time Sales</a>
            </li>


          </ul>

        </nav>
  </header>

<body>
    <h1>Staff Details</h1>
    <table>
        <thead>
            <tr>
                <th>Staff ID</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>
                    <button onclick="toggleEditRow('{{ row[0] }}')">Edit</button>
                    <form id="deleteForm_{{ row[0] }}" action="{{ url_for('delete_staff') }}" method="post">
                        <input type="hidden" name="staff_id" value="{{ row[0] }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            <tr id="editRow_{{ row[0] }}" style="display: none;">
                <td colspan="5">
                    <form id="editForm_{{ row[0] }}" action="{{ url_for('update_staff') }}" method="post">
                        <input type="hidden" name="staff_id" value="{{ row[0] }}">
                        <label>Email:</label>
                        <input type="email" name="email" value="{{ row[1] }}"><br>
                        <label>First Name:</label>
                        <input type="text" name="f_name" value="{{ row[2] }}"><br>
                        <label>Last Name:</label>
                        <input type="text" name="l_name" value="{{ row[3] }}"><br>
                        <label>Date of Birth:</label>
                        <input type="date" name="dob" value="{{ row[4] }}"><br>
                        <button type="submit">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        function toggleEditRow(staffId) {
            var editRow = document.getElementById('editRow_' + staffId);
            var deleteForm = document.getElementById('deleteForm_' + staffId);

            if (editRow.style.display === 'none') {
                editRow.style.display = 'table-row';
                deleteForm.style.display = 'none';
            } else {
                editRow.style.display = 'none';
                deleteForm.style.display = 'block';
            }
        }
    </script>
</body>






  <!--
    - #BACK TO TOP
  -->

  <a href="#top" class="back-to-top" aria-label="Back to Top" data-back-top-btn>
    <ion-icon name="arrow-up-outline"></ion-icon>
  </a>





  <!--
    - custom js link
  -->
  <script src="../static/assets/js/script.js"></script>
  <script src="../static/assets/js/Register.js"></script>


  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>